<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://weatherrecopiler.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <PublishFramework />
    <ProjectGuid>794e7799-6e04-4eb0-824d-a9df6fe05ed5</ProjectGuid>
    <MSDeployServiceURL>weatherrecopiler.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>WeatherRecopiler</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$WeatherRecopiler</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <ResourceId>/subscriptions/dfb63c8c-7c89-4ef8-af13-75c1d873c895/resourcegroups/t-gigonzmulti/providers/Microsoft.Web/sites/WeatherRecopiler</ResourceId>
    <ContainerResourceId>/subscriptions/dfb63c8c-7c89-4ef8-af13-75c1d873c895/resourceGroups/t-gigonzmulti/providers/Microsoft.ContainerRegistry/registries/multiArchTest</ContainerResourceId>
    <ContainerResourceName>multiArchTest</ContainerResourceName>
    <ResourceGroup>t-gigonzmulti</ResourceGroup>
    <Subscription>ACR - Dev</Subscription>
    <Subtype>ContainerRegistry</Subtype>
    <RegistryUrl>https://multiarchtest.azurecr.io</RegistryUrl>
    <DockerPublish>true</DockerPublish>
  </PropertyGroup>
</Project>